* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: antiquewhite;
    height: 200vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photo-wrapper {
    width: 25%;
    padding: 6px;
}

.photo {
    width: 100%;
    display: block;
    border-radius: 10px;
}